.avatarArea {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.downloadHover {
    display: none;
}
.avatarArea:hover .downloadHover {
    width: 75px;
    height: 75px;
    border-radius: 5px;
    background-color: #00000096;
    position: absolute;
    z-index: 2;
    align-items: center;
    display: flex;
    justify-content: center;
}
.downloadIcon {
    color: #fff;
    width: 30px;
    height: 30px;
}

.userName11 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    font-size: 2.4rem!important;
}