@media (max-width: 480px) {
    .scrollbarMessages {
       margin: 0 5px 0 5px;
    }
}

.scrollbar {
   /* margin-left: 30px;
    float: left;
    height: 300px;
    width: 65px;
    background: #F5F5F5;*/
    overflow-y: scroll;
    height: 100%;
   /* min-height: 100%;*/
/*    height: -webkit-fill-available;
    max-height: -webkit-fill-available;*/
  /*  margin-bottom: 25px;*/
}
.scrollbarMessages {
    /* margin-left: 30px;
     float: left;
     height: 300px;
     width: 65px;
     background: #F5F5F5;*/
    overflow-y: auto;
    height: 100%;
    /* min-height: 100%;*/
 /*   height: -webkit-fill-available;
    max-height: -webkit-fill-available;*/
    /*  margin-bottom: 25px;*/
}
#style-3::-webkit-scrollbar-track {
 /*   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
  background-color: #f59500;
}
#style-3::-webkit-scrollbar {
    width: 0;
  background-color: #f50021;
}
#style-3::-webkit-scrollbar-thumb {
     border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.12);
}

#style-2::-webkit-scrollbar-track {
    /*   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    /*  background-color: #F5F5F5;*/
}
#style-2::-webkit-scrollbar {
    width: 5px;
    /*  background-color: #F5F5F5;*/
}
#style-2::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: rgba(130, 133, 140, 0.46);
}